<config>
    <modules>
        <Convertcart>
            <version>1.5.0</version>
        </Convertcart>
    </modules>
    <frontend>
        <events>
            <!-- Analytics Observers -->
            <controller_action_layout_render_before>
                <observers>
                    <Convertcart_Model_Analytics>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>addBlock</method>
                    </Convertcart_Model_Analytics>
                    <convertcart_analytics_cc_init>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>ccInit</method>
                    </convertcart_analytics_cc_init>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <convertcart_analytics_cc_homepage_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>homepageView</method>
                    </convertcart_analytics_cc_homepage_view>
                    <convertcart_analytics_cc_cmsView>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>cmsView</method>
                    </convertcart_analytics_cc_cmsView>
                    <convertcart_analytics_cc_category_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>categoryView</method>
                    </convertcart_analytics_cc_category_view>
                    <convertcart_analytics_cc_product_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>productView</method>
                    </convertcart_analytics_cc_product_view>
                    <convertcart_analytics_cc_cart_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>cartView</method>
                    </convertcart_analytics_cc_cart_view>
                    <convertcart_analytics_cc_checkout_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>checkoutView</method>
                    </convertcart_analytics_cc_checkout_view>
                    <convertcart_analytics_cc_wishlist_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>wishlistView</method>
                    </convertcart_analytics_cc_wishlist_view>
                    <convertcart_analytics_cc_compare_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>compareView</method>
                    </convertcart_analytics_cc_compare_view>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <catalogsearch_query_load_after>
                <observers>
                    <convertcart_analytics_cc_search_view>
                        <type>singleton</type>
                        <class>Convertcart_Model_Analytics_Observer</class>
                        <method>searchView</method>
                    </convertcart_analytics_cc_search_view>
                </observers>
            </catalogsearch_query_load_after>
            <!-- ... (other analytics events) ... -->
            <!-- Sync Routers -->
            <routers>
                <cc_sync>
                    <use>standard</use>
                    <args>
                        <module>Convertcart</module>
                        <frontName>convertcart</frontName>
                    </args>
                </cc_sync>
            </routers>
        </events>
    </frontend>
    <global>
        <models>
            <convertcart_analytics_cc>
                <class>Convertcart_Model_Analytics</class>
            </convertcart_analytics_cc>
            <convertcart_sync_cc>
                <class>Convertcart_Model_Sync</class>
                <resourceModel>convertcart_sync_cc_resource</resourceModel>
            </convertcart_sync_cc>
            <convertcart_sync_cc_resource>
                <class>Convertcart_Model_Sync_Resource</class>
                <entities>
                    <activity>
                        <table>convertcart_sync_cc_activity</table>
                    </activity>
                </entities>
            </convertcart_sync_cc_resource>
        </models>
        <resources>
            <convertcart_sync_cc_setup>
                <setup>
                    <module>Convertcart</module>
                </setup>
            </convertcart_sync_cc_setup>
        </resources>
        <helpers>
            <convertcart_analytics_cc>
                <class>Convertcart_Helper_Analytics</class>
            </convertcart_analytics_cc>
            <convertcart_sync_cc>
                <class>Convertcart_Helper_Sync</class>
            </convertcart_sync_cc>
        </helpers>
    </global>
    <default>
        <convertcart>
            <config>
                <catalog>1</catalog>
                <order>1</order>
                <customer>1</customer>
                <reset_api_key>0</reset_api_key>
            </config>
        </convertcart>
    </default>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <convertcart_sync_cc_enabled>
                        <type>singleton</type>
                        <class>Convertcart_Model_Sync_Observer</class>
                        <method>generateKey</method>
                    </convertcart_sync_cc_enabled>
                </observers>
            </controller_action_predispatch>
            <catalog_product_delete_before>
                <observers>
                    <convertcart_sync_cc_product_delete>
                        <type>singleton</type>
                        <class>Convertcart_Model_Sync_Observer</class>
                        <method>productDeleted</method>
                    </convertcart_sync_cc_product_delete>
                </observers>
            </catalog_product_delete_before>
            <catalog_category_delete_before>
                <observers>
                    <convertcart_sync_cc_category_delete>
                        <type>singleton</type>
                        <class>Convertcart_Model_Sync_Observer</class>
                        <method>categoryDeleted</method>
                    </convertcart_sync_cc_category_delete>
                </observers>
            </catalog_category_delete_before>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <convertcart>
                                            <title>Convert Cart</title>
                                        </convertcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
