<config>
    <modules>
        <Convertcart_Sync>
            <version>1.0.8</version>
        </Convertcart_Sync>
    </modules>
    <frontend>
        <routers>
            <cc_sync>
                <use>standard</use>
                <args>
                    <module>Convertcart_Sync</module>
                    <frontName>cc</frontName>
                </args>
            </cc_sync>
        </routers>
    </frontend>
    <global>
        <models>
          <convertcart_sync>
              <class>Convertcart_Sync_Model</class>
          </convertcart_sync>
        </models>
        <helpers>
          <convertcart_sync>
              <class>Convertcart_Sync_Helper</class>
          </convertcart_sync>
        </helpers>
    </global>
    <default>
        <convertcart>
            <config>
                <catalog>1</catalog>
            </config>
        </convertcart>
        <convertcart>
            <config>
                <order>1</order>
            </config>
        </convertcart>
        <convertcart>
            <config>
                <customer>1</customer>
            </config>
        </convertcart>
        <convertcart>
            <config>
                <reset_api_key>0</reset_api_key>
            </config>
        </convertcart>          
    </default>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <convertcart_sync_enabled>
                        <type>singleton</type>
                        <class>Convertcart_Sync_Model_Observer</class>
                        <method>generateKey</method>
                    </convertcart_sync_enabled>
                </observers>
            </controller_action_predispatch>
        </events>        
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <convertcart>
                                            <title>Convert Cart</title>
                                        </convertcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>